<form method="POST" action="/figures/<%= @figure.id %>" >
  <input type="hidden" name="_method" value="patch">

  <label>Edit Figure Name</label>
  <input type="text" name="figure[name]" value="<%= @figure.name %>" id="figure_name">
  <br><br>
  <h1>Landmarks</h1>
  <% Landmark.all.each do |landmark| %>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>>
      <label><%= landmark.name %></label>
      <br>
  <% end %>

  <!-- Create a new Landmark -->
  <br>
  <p>Add New Landmark</p>
  <input type="text" name="landmark[name]" id="new_landmark">
  <input type="text" name="landmark[year_completed]">


  <br><br>
  <h1>Titles</h1>
  <% Title.all.each do |title| %>
      <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>">
      <label><%= title.name %></label>
      <br>
  <% end %>

  <!-- Create a new title -->
  <br><p>Add New Title</p>
  <input type="text" name="title[name]" id="new_title">

  <br><br><input type="submit" value="Edit Figure">
</form>
